<div class="row">
  <div class=".col-xl-" style="width: 20rem;" *ngFor="let item of items |async; let i=index;">
    <div class="card-body">
      <h5 class="card-title">{{ item.productName }}</h5>
      <img [src]="item.imageURL" width="250" height="250"/>
      <!-- <p class="card-text"> customId : {{ item.customIdName }}</p> -->
      <p class="card-text"> Price : {{ item.price }}</p>
      <p class="card-text"> Bid : {{ item.bid_amount }}</p>
      <p class="card-text"> Bider Email : {{ item.bider_email}}</p>
      <!-- <div>{{item?.endDate?.seconds | timestampDateFormat | timeDiff }}</div> -->
  
      <div>{{item?.endDate?.seconds | timestampDateFormat | timeDiff }}</div>

      <div>
        <form [formGroup]="bidForm" (ngSubmit)="clickEvent(item,bidForm)">
          <div>
            <div class="input-field col s6">
              <input type="text" placeholder="Enter your e-mail" formControlName="email">
              <!-- <input type="text" placeholder="Enter your e-mail" [(ngModel)]="item.bider_email" name="bider_email"> -->
            </div>
            <div class="input-field col s6">
              <input type="text" placeholder="Make a Bid" formControlName="bid">
              <!-- <input type="text" placeholder="Make a Bid" [(ngModel)]="bid" name="bid_amount"> -->
            </div>
          </div>
          <div>

          </div>
          <div class="row">
            <a class="btn btn-primary" (click)="clickEvent(item,bidForm)">Buy Now</a>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
